<div>
    <div class="header">
        <p>payment card</p>
    </div>
    <div class="box" ng-click="box_focus = !box_focus; changeArr()" ng-class="{'box_focus': box_focus}">
        <div class="button">
            <button class="open" ng-click="showCard(); box_focus = !box_focus; changeArr()" ng-class="{'box_focus': box_focus}">
                <img ng-show="hide" src="stylesheets/svg/chevron-right.svg">
                <img ng-show="show" src="stylesheets/svg/chevron-down.svg">
            </button>
        </div>
        <div class="circles">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="high">
            <div class="number">№{{$ctrl.payment.number}}</div>
            <div class="account">
                Мій рахунок
                <img ng-show="changeB" src="stylesheets/svg/long-arrow-alt-right.svg">
                <img ng-show="changeW" src="stylesheets/svg/long-arrow-alt-right-white.svg">
                {{$ctrl.payment.account_section}}
            </div>
            <div class="sum">{{$ctrl.payment.sum}}</div>
        </div>
        <div class="low">
            <div class="payer">№{{$ctrl.payment.payer}}</div>
            <div class="pay_assig">№{{$ctrl.payment.pay_assignment}}</div>
        </div>
    </div>
    <div class="hidden_box" ng-show="show">
        <div class="header2">
            Платіжне доручення <font color=#006BE4>№{{$ctrl.payment.number}}</font>
        </div>
        <div class="sys_num">системний номер <font size="5">{{$ctrl.payment.number}}</font></div>
        <div class="label1">
            <div class="label">
                <div class="label_name">платник</div>
            </div>
        </div>
        <div class="label2">
            <div class="label">
                <div class="label_name">отримувач</div>
            </div>
        </div>
        <div>
            <table class="table1">
                <tr>
                    <td class="table_td>">
                        <div class="high_str">платник</div>
                        <div class="low_str">Мій рахунок</div>
                    </td>
                    <td class="table_td>">
                        <div class="high_str">код</div>
                        <div class="low_str">{{$ctrl.payment.payer_code}}</div>
                    </td>
                    <td class="table_td>">
                        <div class="high_str">код банку</div>
                        <div class="low_str">{{$ctrl.payment.payer_bank_code}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_td>">
                        <div class="high_str">банк платника</div>
                        <div class="low_str">{{$ctrl.payment.payer_bank}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_td>">
                        <div class="high_str">дебет рах. №</div>
                        <div class="low_str">{{$ctrl.payment.debit_credit}}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table class="table2">
                <tr>
                    <td class="table_td>">
                        <div class="high_str">отримувач</div>
                        <div class="low_str">{{$ctrl.payment.recipient}}</div>
                    </td>
                    <td class="table_td>">
                        <div class="high_str">код</div>
                        <div class="low_str">{{$ctrl.payment.recipient_code}}</div>
                    </td>
                    <td class="table_td>">
                        <div class="high_str">код банку</div>
                        <div class="low_str">{{$ctrl.payment.recipient_bank_code}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_td>">
                        <div class="high_str">банк отримувача</div>
                        <div class="low_str">{{$ctrl.payment.recipient_bank}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_td>">
                        <div class="high_str">кредит рах. №</div>
                        <div class="low_str">{{$ctrl.payment.debit_credit}}</div>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div>
            <table class="table3">
                <tr>
                    <td class="table_td>">
                        <div class="high_str">сума словами</div>
                        <div class="sum_text">{{$ctrl.payment.sum_text}}</div>
                    </td>
                    <td class="table_right_td">
                        <div class="high_right_str">сума</div>
                        <div class="sum_text">{{$ctrl.payment.sum}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="table_td>">
                        <div class="high_str">призначення платежу</div>
                        <div class="low_str">{{$ctrl.payment.pay_assignment}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

