@import url("https://use.typekit.net/ajs7grg.css");

body {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: futura-pt;
}

.header {
    text-align: left;
    font: 12px;
    letter-spacing: 0;
    color: #AAAAAA;
    text-transform: uppercase;
    opacity: 1;
}

.box {
    width: 1135px;
    height: 48px;
    background-color:#FAFAFA;
    color: #0A0A0A;
    border-radius: 4px;
    opacity: 1;
    overflow: hidden;
    padding: 16px 21px 16px 20px;
    display: flex;
    justify-content: flex-start;
}

.box_focus {
    background: #006BE4;
    color: #FFFFFF;
    outline: none;
}

.button_flex {
    display: flex;
    padding: 12px 36px 12px 0px;
    width: 24px;
}

.button {
    overflow: hidden;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border:none;
    background: rgba(10, 10, 10, 0.1) 0% 0% no-repeat padding-box;
    
}

button.open {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border:none;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 0.4;
}

button.open:focus {
    outline: none;
}

.rotate {
    transform: rotate(90deg);
}

.first_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 208px;
}

.number {
    width: 64px;
    height: 23px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    opacity: 1;
}

.payer {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    opacity: 0.8;
}

.second_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 663px;
}

.account {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    opacity: 1;
}

.pay_assig {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    opacity: 0.8;
}

.third_flex {
    display: flex;
    width: 198px;
}

.sum {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0;
    opacity: 1;
}

.circles_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 6px;
    padding: 11px 0px 11px 0px;
}

.circle {
    width: 6px; 
    height: 6px;
    background: #0A0A0A 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 0.1;
}

.hidden_box {
    padding: 24px 24px 28px 24px;
    margin-top: 1px;
    width: 1128px;
    height: 452px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    overflow: hidden;
    
}

.first_row {
    display: flex;
    justify-content: space-between;
}

.header2 {
    width: 303px;
    height: 31px;
    text-align: left;
    font-size:24px;
    font-weight: 700;
    letter-spacing: 0;
    opacity: 1;
}

.sys_num {
    width: 176px;
    height: 31px;
    text-align: right;
    font-size:16px;
    font-weight: 500;
    letter-spacing: 0;
    opacity: 1;
}

.second_row {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.label1 {
    background: #006BE4 0% 0% no-repeat padding-box;
    border-radius: 2px;
    width: 528px;
    height: 31px;
    opacity: 1;
    padding: 6px 16px 11px 16px;
    text-align: left;
    font-size:24px;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
}

.label2 {
    background: #2B85EA 0% 0% no-repeat padding-box;
    border-radius: 4px;
    width: 528px;
    height: 31px;
    opacity: 1;
    padding: 6px 16px 11px 16px;
    text-align: left;
    font-size:24px;
    font-weight: 700;
    letter-spacing: 0;
    color: #FFFFFF;
}

.third_row {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.table {
    display: flex;
    justify-content: space-between;
    width: 560px;
}

.cell {
    width: 188px;
}

.foth_row {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.high_str {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
    color: #0A0A0A;
    text-transform: uppercase;
    opacity: 0.6;
}

.low_str {
    text-align: left;
    font-size: 16px;
    color: #0A0A0A;
    opacity: 1;
    font-weight: 500;
}

.line {
    border: 1px solid #DDDDDD;
    opacity: 1;
    margin-top: 33px;
    width: 1128px;
    height: 0px;
}

.fifth_row {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.sum_text {
    text-align: left;
    font-size: 24px;
    color: #0A0A0A;
    opacity: 1;
    font-weight: 700;
}

.high_right_str {
    text-align: right;
    font-size: 12px;
    letter-spacing: 0;
    color: #0A0A0A;
    text-transform: uppercase;
    opacity: 0.6;
}

