<div class="login_page">
    <div class="left">
        <div class="left_row_one">Цілодобовий доступ до ваших рахунків</div>
        <div class="left_row_two">Керуйте руханками та створюйте платежі у зручному веб-додатку</div>
        <div class="left_row_three">
            <img src="/img/notebook.png">
        </div>
        <div class="left_row_four">
            <img src="/img/unity-bars.png">
        </div>
        <div class="left_line"></div>
        <div class="left_row_five">© 2020 UNITY-BARS</div>
    </div>
    <div class="right">
        <div class="right_first_row">
            <div class="lang">Українська</div>
            <button class="chevron_down"><img src="img/chevron-down.svg"></button>
        </div>
        <div class="right_second_row">
            <div class="right_cell" ng-click="right_cell_focus1 = !right_cell_focus1" ng-class="{'right_cell_focus': right_cell_focus1}">за логіном</div>
            <div class="right_cell" ng-click="right_cell_focus2 = !right_cell_focus2" ng-class="{'right_cell_focus': right_cell_focus2}">за телефоном</div>
            <div class="right_cell" ng-click="right_cell_focus3 = !right_cell_focus3" ng-class="{'right_cell_focus': right_cell_focus3}">за ЕЦП</div>
        </div>
        <form novalidate class="right_third_row">
            <label class="small_text">Ваш email</label>
            <input class="login" type="email" ng-model="email" required>
            <label class="small_text" >Ваш пароль</label>
            <input  class="login" type="text" ng-model="password" required />
            <a class="big_text">Не пам’ятаєте пароль?</a>  
            <input type="submit" value="Увійти" class="submit_login">  
        </form>
        <div class="right_fouth_row">
            <div class="right_fouth_text">Спробувати ДЕМО</div>
        </div>
        <div class="right_line"></div>
        <div class="right_row_five">
            <div class="right_fifth_text">© UNITY-BARS</div>|  
            <div class="right_fifth_text">Версія: 0.5.0</div>|
            <div class="right_fifth_text">Відгук</div>
    </div>
</div>