<div class="login_page">
    <div class="left">
        <div class="left_row_one">Цілодобовий доступ до ваших рахунків</div>
        <div class="left_row_two">Керуйте руханками та створюйте платежі у зручному веб-додатку</div>
        <div class="left_row_three">
            <img src="/img/notebook.png">
        </div>
        <div class="left_row_four">
            <img src="/img/unity-bars.png">
        </div>
        <div class="left_row_five">© 2020 UNITY-BARS</div>
    </div>
    <div class="right">
        <div class="right_first_row">
            <div class="lang">Українська</div>
            <button class="chevron_down"><img src="img/chevron-down.svg"></button>
        </div>
        <div class="right_second_row">
            <div class="right_cell" ng-click="right_cell_focus = !right_cell_focus" ng-class="{'right_cell_focus': right_cell_focus}">за логіном</div>
            <div class="right_cell" ng-click="right_cell_focus = !right_cell_focus" ng-class="{'right_cell_focus': right_cell_focus}">за телефоном</div>
            <div class="right_cell" ng-click="right_cell_focus = !right_cell_focus" ng-class="{'right_cell_focus': right_cell_focus}">за ЕЦП</div>
        </div>
    </div>
</div>